body {
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.1em;
}
[role="tablist"] {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
[role="tablist"] li {
  display: inline;
}
[role="tab"] {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin: 0 0.25em -1px 0.25em;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  color: #000;
}
[role="tab"][aria-selected="true"] {
  border-bottom-color: #fff;
}
[role="tabpanel"] {
  padding: 0 0.5em;
}
[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

#tab_0 {
  background-color: #0fa3c1;
}

#tab_1 {
  background-color: #CA3767;
}

#tab_2 {
  background-color: #FF9900;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
