/* html styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  text-align: center;
}

/* tab styling */
[role="tablist"] {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

[role="tablist"] li {
  display: inline;
}

[role="tab"] {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin: 0 0.25em -1px 0.25em;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  color: #000;
}

[role="tab"][aria-selected="true"] {
  border-bottom-color: red;
}

[role="tabpanel"] {
  padding: 0 0.5em;
}

[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

/* tab colours */
#tab_0 {
  background-color: #0fa3c1;
}

#tab_1 {
  background-color: #ffb6c1;
}

#tab_2 {
  background-color: #ff9900;
}

/* button styling */
.button-container {
  margin: 10px;
}

/* anchor styling */
a {
  background-color: white;
  padding: 5px, 0px, 2px, 0px;
}

/* description list styling */
dd {
  padding: 5px;
}