.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 0;
    display: block;
    /* background-color: pink; */
  }

  .video-responsive iframe {
    left: 25%;
    right: 0;
    top: 0;
    height: 50%;
    width: 50%;
    position: absolute;
  }
  
